<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="./index.js" defer></script>
        <script src="./style.css" defer></script>
    </head>
    <body>
        <div id="app">
            <p>{{message}}</p>
        </div>
        <div id="app-2">
            <span v-bind:title="message">
              Hover your mouse over me for a few seconds
              to see my dynamically bound title!
            </span>
        </div>
        <div id="app-3">
            <span v-if="seen">Now you see me</span>
        </div>
        <div id="app-4">
            <ol>
              <li v-for="todo in todos">
                {{ todo.text }}
              </li>
            </ol>
        </div>
        <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">Reverse Message</button>
        </div>
        <div id="app-6">
            <p>{{ message }}</p>
            <input v-model="message">
        </div>
        <div id="app-7">
            <ol>
              <!-- 
                各 todo-item の内容を表す todo オブジェクトを与えます。
                これにより内容は動的に変化します。
                また後述する "key" を各コンポーネントに提供する必要があります。
              -->
              <todo-item
                v-for="item in groceryList"
                :todo="item"
                :key="item.id"
              ></todo-item>
            </ol>
        </div>
        
        <div id="app8">
            <button v-on:click="changeMsg">change message</button>
            <p>{{ message }}</p>
        </div> 
        
        <div id="app-9">
            <p>Length: {{ length }}</p>
            <ul>
                <li v-for="(item, i) in list" :key="item">{{ item }}
                    <button @click="list.splice(i, 1)">remove</button>
                </li>
            </ul>
            <button @click="addItem">add</button>
        </div>

        <div id="app-10">
                <ul class="tab">
                    <li v-for="item in list" 
                      @click="changeTab(item.id)" 
                      @keyup.enter="changeTab(item.id)" 
                      :class="{active:active(item.id)}" tabindex="0">{{ item.label }}
                    </li>
                </ul>
                <div class="content-vue">
                  <transition>
                    <section v-for="item in list" :key="item.id" v-if="active(item.id)">
                      <p>{{ item.content }}</p>
                    </section>
                  </transition>
                </div>
            </div>
        <div id="example">
            <p>Original message: "{{ message }}"</p>
            <p>Computed reversed message: "{{ reversedMessage }}"</p>
        </div>

        <div id="demo">{{ fullName }}</div>
              
        <div id="watch-example">
                <p>
                  Ask a yes/no question:
                  <input v-model="question">
                </p>
                <p>{{ answer }}</p>
        </div>
        <!-- ajax ライブラリの豊富なエコシステムや、汎用的なユーティリティ	-->
        <!-- メソッドがたくさんあるので、Vue のコアはそれらを再発明せずに		-->
        <!-- 小さく保たれています。この結果として、慣れ親しんでいるものだけを	-->
        <!-- 使えるような自由さを Vue は持ち合わせています。			-->
        <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
        <script>
        var watchExampleVM = new Vue({
            el: '#watch-example',
            data: {
                question: '',
                answer: 'I cannot give you an answer until you ask a question!'
            },
            watch: {
                // この関数は question が変わるごとに実行されます。
                question: function (newQuestion, oldQuestion) {
                    this.answer = 'Waiting for you to stop typing...'
                    this.debouncedGetAnswer()
                }   
            },
            created: function () {
                this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
            },
            methods: {
                getAnswer: function () {
                    if (this.question.indexOf('?') === -1) {
                        this.answer = 'Questions usually contain a question mark. ;-)'
                        return
                    }
                    this.answer = 'Thinking...'
                    var vm = this
                    axios.get('https://yesno.wtf/api')
                    .then(function (response) {
                        vm.answer = _.capitalize(response.data.answer)
                    })
                    .catch(function (error) {
                        vm.answer = 'Error! Could not reach the API. ' + error
                    })
                }
            }
        })
        </script>
        <ul id="example-1">
            <li v-for="item in items">
                {{ item.message }}
            </li>
        </ul>
        <div id="todo-list-example">
                <form v-on:submit.prevent="addNewTodo">
                  <label for="new-todo">Add a todo</label>
                  <input
                    v-model="newTodoText"
                    id="new-todo"
                    placeholder="E.g. Feed the cat"
                  >
                  <button>Add</button>
                </form>
                <ul>
                  <li
                    is="todo-item"
                    v-for="(todo, index) in todos"
                    v-bind:key="todo.id"
                    v-bind:title="todo.title"
                    v-on:remove="todos.splice(index, 1)"
                  ></li>
                </ul>
        </div>
        <div id="app-example">
            <button v-on:click="handleClick">Click</button>        
        </div>
        
        <div id="app-11">
            <button v-on:click="show=!show">切り替え</button>
            <transition>
                <p v-if="show">Hello Vue.js!</p>
            </transition>
        </div>

        <div id="app-13">
            <p>{{ count }}回クリックしたよ！ </p>
            <button v-on:click="increment">クリック力じゃ！！！</button>
        </div>

        <div id="app-14">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                  <circle cx="100" cy="75" v-bind:r="radius" fill="lightpink" />
            </svg>
            <input type="range" min="0" max="100" v-model.number="radius">
        </div>


        <div id="app-15">
            <input v-model.number="budget"> 円以下に絞り込む
            <input v-model.number="limit"> 件を表示
            <button v-on:click="order=!order">切り替え</button>
            <p>{{ matched.length }} 件中 {{ limited.length }} 件を表示中</p>
            <ul>
                <!-- v-forでは最終結果、算出プロパティのlimitedを使用する -->
                <li v-for="item in limited" v-bind:key="item.id">
                    {{ item.name }} {{ item.price }}円
                </li>
            </ul>
        </div>
    </body>
</html>
